<%= form_with(model: order, remote: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" , autofocus: true %>
  </div>
  <div class="form-group">
    <%= form.label :status %>
    <%= select_tag :status, options_for_select([["All",''],"Placed", "Shipped", "Delivered","Return" ], order.status), class: "form-control" ,include_blank: false %>
  </div>
  <div class="form-group">
    <%= form.label :published_at %>
    <%= form.date_field :published_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>

<% end %>
